.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.changingRecipeImgWrapper {
  margin-top: 15px;
}

.editRecipeBtn {
  cursor: pointer;
}

.editRecipeBtn:hover {
  color: #3fa9ff9c;
}