.recipeItemsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 15px;
  justify-items: center;
}

.welcomeTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcomeText {
  width: 60%;
}