.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.foodCategory {
  margin-left: 60px;
}

.mainImage {
  position: fixed;
  top: 9%;
  right: 0%;
  width: 50%;
}

@media screen and (max-width:1100px) {

  .wrapper {
    grid-template-areas: 'foodCategory foodCategory';
  }
  
  .foodCategory {
    grid-area: foodCategory;
  }

  .mainImage {
    display: none;
  }
  
}