.wrapper {
  display: flex;
  flex-direction: column;
}

.backAndSearchField {
  align-items: center;
  display: inline-flex;
}

.foodDataWrapper {
  height: 80vh;
  position: relative;
  width: 100%;
}

.spinner {
  left: 50%;
  position: absolute;
  top: 50%;
}