.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
  width: 100%;
}

.mainImageWrapper {
  height: 77%;
}

.mainImage {
  height: 100%;
}

.messageFieldWrapper {
  align-items: center;
  border: 1px solid #3fa9ff9c;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  margin-top: 10%;
  position: relative;
  width: 70%;
}

.sendMessageBtn {
  width: 100%;
}

.sendMessageBtn:hover {
  background-color: #c0dbf19c;
  transform: scale(1.2);
}

@media screen and (max-width:1100px) {
  .wrapper {
    grid-template-areas: 
    'loginForm loginForm'
    'image image';
    width: 100%;
  }

  .mainImageWrapper {
    grid-area: image;
    height: 100%;
  }

  .messageFieldWrapper {
    grid-area: loginForm;
    height: auto;
    justify-self: center;
    padding-bottom: 100px;
    width: 90%;
  }

  .form {
    width: 80%;
  }

  .resultMessageTitle {
    font-size: 3rem;
  }

  .resultMessageDescription {
    font-size: 2rem;
  }
}