.wrapper {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: large;
  transition: transform .2s;
  margin: 0px 15px 0px 15px;
  color:#3fa9ff;
}

.wrapper:hover {
  transform: scale(1.2);
}