.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.info {
  width: 50%;
  text-align: center;
  padding: 15px;
}

.input {
  padding: 15px;
  background-color: rgb(203, 234, 234, 0.3);
  border: 3px solid rgb(124, 143, 143);
  margin-bottom: 15px;
  width: 230px;
}

.button {
  padding: 15px;
  background-color: rgb(172, 226, 196);
  border: 3px solid rgb(124, 143, 124);

  width: 100%
}