.ingredientsWrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ingredientsTable {
  width: 93%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.addIngredientBtn, 
.deleteBtn,
.editBtn,
.editingBtn {
  width: 90px;
  margin: 0px;
}

.addIngredientBtn {
  font-size: larger;
}
