/* .header {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100vw;
  align-content: space-evenly;
}

.logoImg {
  width: 3em;
  padding: 10px;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation li {
  padding-right: 15px;
  cursor: pointer;
} */



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom:  3px solid rgb(156, 154, 154);
}

.logoImg {
  width: 3em;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation li {
  padding-right: 15px;
  cursor: pointer;
}