.title {
  font-size: 1.5em;
  color: #6fbd86; 
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* 
.form {
  display: grid;
  grid-template-columns: 1fr 7fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
} */


.input {
  padding: 15px;
  background-color: rgb(203, 234, 234, 0.3);
  border: 3px solid rgb(124, 143, 143);
  margin-bottom: 15px;
  width: 30%;
}

.resultBlock {
  display: inline-flex;
  align-items: center;
}

.resultField {
  padding: 15px;
  background-color: rgb(236, 213, 225);
  border: 3px solid rgb(141, 124, 143);
  width: 30%;
  text-align: center;
}

.warning {
  color: rgb(221, 53, 140);
  font-size: 0.8em;
}