.showInfoIcon {
  vertical-align: super;
  font-size: smaller;
  cursor: pointer;
}

.infoAlert {
  width: 90%;
  margin-bottom: 15px;
}

.headerWrapper {
  display: inline-flex;
}

.headerWrapper h2{
  font-weight: normal;
  margin: 0px;
  color: gray;
}