.showInfoIcon {
  vertical-align: super;
  font-size: smaller;
  cursor: pointer;
}

.infoAlert {
  width: 90%;
  margin-bottom: 15px;
}

.headerWrapper {
  display: inline-flex;
}

.headerWrapper h2{
  font-weight: normal;
  margin: 0px;
  color: gray;
}

.calculateAgainButton {
  background-color: rgb(251, 203, 108);
  border: none;
  color: rgb(44, 35, 39);
  width: 180px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 15px;
}

.calculateAgainButton:hover {
  background-color: rgb(211, 171, 90);
}