.calculatorsPageWrapper {
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 100%;
}

.calculatorsAreaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
  height: 75%;
  width: 45vw;
}

.pageMainImage {
  width: 40vw;
  height:auto;
}

.calculatorsSwitchers {
  display: flex;
  justify-content: space-between;
  grid-area: calculatorsSwitcher;
  width: 90%;
} 

.calculatorsArea {
  width: 80%;
}