.appWrapper {
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: 
  'header'
  'mainContent';
  height: 100vh;
}

header {
  grid-area: header;
}

.mainArea {
  grid-area: mainContent;
  background-color: aliceblue;
}
