.appWrapper {
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: 
  'header'
  'mainContent';
  height: 100vh;
}

header {
  grid-area: header;
}

.mainArea {
  grid-area: mainContent;
}
