.nickName {
  border-bottom: 1px solid #3fa9ff9c;
  font-size: x-large;
  width: 150px;
}

.editNameBtn {
  cursor: pointer;
  color: #3fa9ffe7;
  font-size: small;
  vertical-align: super;
}

.editNameBtn:hover {
  color: #195f97e7;
}

.nameInput {
  transition: transform .2s;
  text-align: center;
}

.nameInput:hover {
  border-bottom: 1px solid #3fa9ff9c;
  transform: scale(1.1);
}

.btn {
  width: 110px;
}

@media screen and (max-width:1100px) {
  
  .btn {
    height: 100px;
    width: 200px;
  }

  .nickName {
    font-size: 4rem;
    margin-top: 100px;
    width: 300px;
  }

  .editNameBtn {
    font-size: 3rem;
  }

  .nameInput {
    border-bottom:  1px solid #3fa9ff9c;
    font-size: 3rem;
    margin-bottom: 25px;
  }
  
}